<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.notrashmain">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginCondominioActivity"
            android:label="Login Condominio - NoTrash">
        </activity>

        <activity
            android:name=".LoginMoradorActivity"
            android:label="Login Morador - NoTrash">
        </activity>
        <activity
            android:name=".CadMorActivity"
            android:label="Cadastro de Morador - NoTrash">
        </activity>
        <activity
            android:name=".CadCondActivity"
            android:label="Cadastro de Condominio - NoTrash">
        </activity>
        <activity
            android:name=".MoradorActivity"
            android:label="Cadastro de Condominio - NoTrash">
        </activity>
        <activity
            android:name=".CondominioActivity"
            android:label="Cadastro de Condominio - NoTrash">
        </activity>
    </application>

</manifest>